.menu-button{
    position: fixed;
    right: 6rem;
    top: 6rem;
    cursor: pointer;
    z-index: 10000;
    padding: 10px;
  
    // &::after{
    //   width: 7rem;
    //   height: 7rem;
    //   content: "";
    //   position: absolute;
    //   left: 50%;
    //   top: 50%;
    //   border-radius: 100%;
    //   width: 7rem;
    //   height: 7rem;
    //   transform: translate(-50%,-50%);
    // }
}

.menu-button_active{}
.burger{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 26px;
    gap: 8px;

}
.burger__line{
    width: 100%;
    height: 0.1rem;
    background-color: $color-light;
    transition: all .3s ease;
}
.menu-button:hover .burger__line{
    background-color: $color-primary;
}
.burger-close{
  .burger__line:first-child{
    transform-origin: center;
    transform: rotate(45deg) translate(25%); 
  }
  .burger__line:last-child{
    transform-origin: center;
   transform: rotate(-45deg) translate(20%); 
  }
}