::-moz-selection { /* Code for Firefox */
    color: $color-primary;
   
  }
  
  ::selection {
    color: $color-primary;

  }
html {
    box-sizing: border-box;
    font-size: 10px;
}

@media(max-width:996px) {
    html {
        font-size: 8px;
    }
}

@media(max-width:796px) {
    html {
        font-size: 6px;
    }
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    @extend %font-primary;
    @include font($size: 2.7rem, $height: 3.8rem, $weight: 300);
    color: $color-text;
    background-color: $color-secondary;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    padding-bottom: 120px;
}

h1 {
    @include font($size: 8.0rem, $height: 8.0rem, $weight: 200);
    color: $color-light;
    letter-spacing: -0.4px;
}

h2 {
    @include font($size: 4.0rem, $height: 4.0rem, $weight: 300);
    letter-spacing: -0.2px;
    color: $color-light;
    margin-bottom: 28px;
    padding-left: 8px;
}

.section-name {
    display: inline-block;
    @include font($size: 1.1rem, $height: 1.5rem, $weight: 700);
    color: $color-light;
    text-transform: uppercase;
    letter-spacing: 1.456px;
    margin-bottom: 39px;
}

.decor-line {
    display: inline-block;
    width: 40px;
    border-color: $color-light;
    border-style: solid;
    border-bottom-width: 0.1rem;
    margin-bottom: 32px;
}
