.github {
    display: inline-block;
    background-image: url("./../img/github.svg");
    width: 20px;
    height: 20px;
}

.icon-rsschool {
    display: inline-block;
    background-image: url("./../img/rsschool.svg");
    width: 50px;
    height: 20px;
    background-repeat: no-repeat;
}