::-webkit-scrollbar {
  width: 2px;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(255,255,255,.2);
}
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}