.main {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  opacity: 1;
}
.main_moved {
  opacity: 0.45;
  left: -20%;
  transition: all 0.3s ease;
}
.right__content {
  position: fixed;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.right__content_moved {
  left: 3%;
}
.left__content {
  width: 100%;
  height: 100%;
}
.left__inner {
  position: relative;
  width: 45%;
  left: 47%;
}
.right__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: perspective(500px) rotateY(8deg);
  height: 32vw;
  width: 26vw;
}
.right__inner.right__inner-onscroll {
  transition: all 0.5s ease;
  width: 78%;
  height: 50%;
  transform: perspective(200px) rotateY(16deg) scale(0.4) translate(-500px, 0px);
  opacity: 0.6;
}
.author-image {
  width: 100%;
}
.author-name {
  position: absolute;
  bottom: 0;
  left: 10%;
  @include font($size: 1.5rem, $height: 2.4rem, $weight: 300);
  letter-spacing: 0.336px;
  color: $color-light;
  display: flex;
  flex-direction: column;
  > p {
    margin-bottom: 5px;
  }
}
.right__inner-onscroll .author-name {
  display: none;
}
.img-decor {
  position: absolute;
  height: 98%;
  width: 98%;
  top: 0;
  left: 0;
  z-index: -2;
  border: 1px solid #fff;
  opacity: 0.25;
  transform: translate(-2rem, 2rem);
}

.img-decor-1 {
  opacity: 0.25;
  transform: translate(-2rem, 2rem);
}

.img-decor-2 {
  opacity: 0.14;
  transform: translate(-4rem, 4rem);
}

.img-decor-3 {
  opacity: 0.05;
  transform: translate(-6rem, 6rem);
}
@media (max-width: 800px) {
  .right__content {
    width: 100vw;
    left: 50%;
    transition: all 0.5s ease;
  }
  .right__inner {
    width: 100%;
    height: 100vh;
    transform: translate(0%, 0px);
    transition: all 0.5s ease;
  }
  .right__inner:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.3;
    z-index: 10;
  }

  .author-name {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    > p {
      font-size: 8rem;
    }
  }
  .decor-line {
    align-self: flex-start;
  }
  .img-decor-1,
  .img-decor-2,
  .img-decor-3 {
    display: none;
  }

  //LEFT CONTENT
  .left__inner {
    padding-top: 100vh;
    width: 65%;
    left: 17%;
  }
}
@media (max-width: 649px) {
  .right__inner.right__inner-onscroll {
    width: 97%;
  }
  //LEFT CONTENT
  .left__inner {
    width: 75%;
    left: 10%;
  }
}
