.skills {}

.section-name {}

.about__title {}

.decor-line {}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.skills-list__item {
  background-color: #181818;
  height: 7.2rem;
  padding-right: 3rem;
  padding-left: 3rem;
  border-style: none;
  border-radius: 10rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.skills-list__name {
  color: #7c7c7c;
}

.skills-list__bar {
    position: relative;
    display: inline-block;
    width: 100%;
    border-bottom-width: 0.1rem;
    border-style: solid;
    border-color: rgba(255, 255, 255, .2);
    &.skill-html:after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0;
        width: 84%;
        height: 0.1rem;
        background-color: $color-light;
    }
    &.skill-js:after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0;
        width: 70%;
        height: 0.1rem;
        background-color: $color-light;
    }
    &.skill-cmsw::after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0;
        width: 90%;
        height: 0.1rem;
        background-color: $color-light;
    }
}
@media (max-width: 800px) {
  .skills-list__item {
    height: 9rem;
    font-size: 5rem;
  }
  .languages-item,
  .contacts__item {
    font-size: 6rem;
    line-height: 1.4em;
  }
}
